body{
    color:rgb(97, 31, 173);
    background-color: aquamarine;
    padding: 0;
    margin: 0;
}

.hd {
    background-color: cornflowerblue;
    color: indigo;
    text-align: center;
    margin-bottom: 0;
    padding: 2rem;
    border-bottom: 5px solid green;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    max-width: 700px;
}

.columnA{
    background-color: blue;
    flex: 2; /*Makes it twice the other one */

}

.columnB{

}

.navigation-bar ul{
    text-decoration: ;
    background-color: rgb(146, 182, 91);
    list-style-type: none;
    margin-top: 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    /*width: 100px; */
}

.navigation-bar a{
    text-decoration: none;
    font-size: 30px;
}