body{
    color:rgb(97, 31, 173);
    background-color: aquamarine;
    padding: 0;
    margin: 0;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    max-width: 700px;
}

.columnA{
    background-color: blue;
    flex: 2; /*Makes it twice the other one */

}

.columnB{

}